@font-face {
    font-family: "Lexend";
    src: url("./assets/fonts/Lexend-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900; 
    font-style: normal;
}

body {
    margin: 0;
    background-color: #07191d;
    font-family: "Lexend", sans-serif;
    color: #F7F7F7;
}

header {
    height: 130px;
    width: 100%;
    background-color: #002A32;
    border-bottom: 2px solid  #ff5347;
    display: flex;
    align-items: center;
    justify-content:center;
}

header img {
    max-height: 60px;
    margin: 10px;
}

#text_logo {
    font-size: 40px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_content {
    min-height: 100vh;
    background-image: url(./assets/img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer {
    height: 100px;
    width: 100%;
    background-color: #07181b;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    max-height: 60px;
}

button {
    width: 100%;
    font-size: 20px;
    color: #F7F7F7;
    background: none;
    border-radius: 5px;
    border: 3px solid #F7F7F7;
    box-sizing: border-box;
    cursor: pointer;
}

.book_display {
    width: 700px;
    margin: 16px;
    background-color: #002A32;
    border:  2px solid #F7F7F7;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.book_information {

    display: flex;
    justify-content: space-around;
}

.book_cover img {
    max-height: 300px;
    margin-right: 50px;
}

.book_display h2 {
    margin: 0;
    margin-bottom: 16px;
}

.book_details {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.book_details p {
    margin: 0px;
    margin-bottom: 5px;
}

.book_details span {
    margin-top: 40px;
    font-size: 40px;
    color:#F2FF1C
}

#book_price {
    align-self: flex-end;
}

#book_likes {
    margin-top: 60px;
}

#comment_section {
    padding-top: 8px;
}

.liked_true {
    color:#FF5347;
    border-color: #FF5347;
}

.comments_window {
    margin-top: 15px;
    min-height: 100px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 8px;
}

.user_input {
    width: calc(100% - 105px);
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 8px;
}

#comments_inputs {
    display: flex;
}

.user_name {
    color: #FF5347;
}

#comment_headline {
    font-size: 24px;
    margin-bottom: 8px;
    border: none;
    width: 200px;
    margin-top: 16px;
}

#comment_headline:hover {
    cursor: pointer;
    color: #FF5347;
}

.d_none {
    display: none;
}

.user_input_name {
    font-size: 16px;
    margin-bottom: 8px;
}

.max_width {
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    cursor: pointer;
}

#button_favorites {
    width: 300px;
    margin-right: 50px;
}

#button_random {
    width: 300px;
    margin-right: 50px;    
}

#button_all_books {
    width: 300px;
    margin-right: 50px;
}

#filter_buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.active_rn {
    color: #FF5347;
    border-color: #ff645c;
}

.user_input_name {
    width: 95px;
    margin-right: 2px;
}

#comment_inputs {
    display: flex;
}

.burger_menu {
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    display: none;
    margin-right: 50px;
}

.burger_menu span {
    display: block;
    height: 4px;
    background-color: #a3a0a0;
    border-radius: 2px;
    transition: 0.3s;
}

    .burger_menu.active span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    .burger_menu.active span:nth-child(2) {
      opacity: 0;
    }
    .burger_menu.active span:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -6px);
    }

.burger_nav {
    background-color: #07181b;
    padding: 16px;
    border-radius: 5px;
    position: absolute;
    right: 85px;
}

.burger_nav span:hover {
    color:#FF5347;
    cursor: pointer;
}

.d_none {
        display: none;
}

.burger_navigation {
    display: none;
    justify-content: center;
    align-items: center;
}

@media (max-width: 850px) {

    #button_all_books {
        display: none;
    }

    #button_favorites {
        display: none;
    }

    #button_random {
        display: none;
    }

    .burger_navigation {
        display: flex;
    }

    .burger_menu {
      display: flex;
    }

    .book_display {
        width: 300px;
    }

    .book_information {
        flex-direction: column;
        align-items: cente;
    }

    .book_details h2 {
        font-size: 20px;
    }

    button {
        width: 300px;
    }

    #book_price {
        align-self: auto;
    }

    .user_input {
        width: 300px;
    }

    #comment_headline {
        padding-left: 0;
        text-align: left;
    }

    .book_cover img {
        margin-right: 0;
    }

    .book_cover {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .book_details {
        width: 300px;
    }

    #comments_inputs {
    display: block;
    }
}

@media(max-width: 555px) {
    .logo {
        scale: 0.8;
        margin-left: 8px
    }
}

@media (max-width: 400px) {

    header img {
        margin:0;
    }

    .book_display {
        width: 250px;
        margin: 8px
    }

    .book_details {
        width: 250px;
    }

    .book_cover img {
        max-width: 180px;
    }

    button {
        width: 250px;
    }

    .user_input {
        width: 250px;
    }

    #burger_menu {
        margin-right: 16px;
    }
}

@media (max-width: 340px) {

    #text_logo {
        display: none;
    }
}