@font-face {
    font-family: "Lexend";
    src: url("./assets/fonts/Lexend-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900; 
    font-style: normal;
}

body {
    margin: 0;
    background-color: #002A32;
    font-family: "Lexend", sans-serif;
    color: #F7F7F7;
}

header {
    height: 100px;
    width: 100%;
    background-color: #002A32;
    border-bottom: 2px solid  #F24135;
    display: flex;
    align-items: center;
    justify-content:center;

}

header img {
    max-height: 60px;
    margin: 10px;
}

#text_logo {
    font-size: 40px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_content {
    min-height: 100vh;
    background-image: url(./assets/img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer {
    height: 100px;
    width: 100%;
    background-color: #002A32;
}

button {
    width: 100%;
    font-size: 20px;
    color: #F7F7F7;
    background: none;
    border-radius: 5px;
    border: 3px solid #F7F7F7;
    box-sizing: border-box;
    cursor: pointer;
}

.book_display {
    width: 700px;
    margin: 16px;
    background-color: #002A32;
    border:  2px solid #F7F7F7;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.book_information {

    display: flex;
    justify-content: space-around;
}

.book_cover img {
    max-height: 300px;
    margin-right: 50px;
}

.book_display h2 {
    margin: 0;
    margin-bottom: 16px;
}

.book_details {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.book_details p {
    margin: 0px;
    margin-bottom: 5px;
}

.book_details span {
    margin-top: 40px;
    font-size: 40px;
    color:#F24135
}

#book_price {
    align-self: flex-end;
}

#book_likes {
    margin-top: 60px;
}

#comment_section {
    padding-top: 8px;
}

.liked_true {
    color:#F24135;
    border-color: #F24135;
}

.comments_window {
    margin-top: 15px;
    min-height: 100px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 8px;
}

.user_input {
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 8px;
    
}

.user_name {
    color: #F24135;
}

#comment_headline {
    font-size: 24px;
    margin-bottom: 8px;
    border: none;
    width: 200px;
    margin-top: 16px;
}



#comment_headline:hover {
    cursor: pointer;
    color: #F24135;
}



.d_none {
    display: none;
}

.user_name_input {
    font-size: 16px;
    margin-bottom: 8px;
}

.max_width {
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#button_favorites {
    width: 300px;
}